  /**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
  @import url('./reset.css');

  :root {
      font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  }

  .backhome {
      margin-left: 40px;
      padding-top: 30px;
  }

  .title {
      margin-left: 40px;
      margin-top: 30px;
  }

.thumb {
    margin-left: 156px;
    margin-top: 36px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 70vh;
}

.form {
    width: 400px;
    border: 2px solid #808080;
    padding: 20px;
}

.label-delay {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.data-input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}

.frame {
    display: flex;
    justify-content: center;
    gap: 48px;
    border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
    width: 360px;
    margin-bottom: 24px;
}

.legend {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label-radio {
    display: flex;
    justify-content: center;
    width: 104px;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
}

.label-radio input {
    margin-right: 8px;
}

.btn-start {
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
